.bodyt{
    background-image: url('../../assets/images/login.jpg');
    background-size: 130%;
    background-position: 50% 50%;  
    height: 100vh;

    .faixa1{

        display: flex !important;
        flex-direction: row !important;
        background-color: #010915 !important;
        height: 15vh !important;
        color: #ffff !important;
        justify-content: space-around !important;
        align-items: center !important;

        
    }
    .faixa2{
        height: 76vh !important;
        width: 100vw !important;
        display: flex !important;
        flex-direction: column !important;
        align-items: center !important;
        justify-content: space-evenly !important;
        
    }
    .adm{
        font-size: 2em;
        color: #ffff;
        font-family: "Grenze2";
        text-align: center;
        letter-spacing: 1px;
        width: 10em;
        height: 1.5em;
        margin-bottom: 1rem;
    }

    


        .bot1{
            height: 2.5em;
            border-radius:15px ;
            width: 20em;
            background-color: #010915;
            color: #B47022;
            justify-content: center;
            align-items: center;
            display: flex;
            text-decoration: none;
            margin-bottom: 2rem;

        }
        .bot2{
            height: 2.5em;
            border-radius: 15px;
            width: 20em;
            background-color: #010915;
            color: #B47022;
            justify-content: center;
            align-items: center;
            display: flex;
            text-decoration: none;

        }
        .faixa3{
            background-color: #010915;
            height: 10vh !important;
            
        }

        

        .preto{
            display: flex !important;
            flex-direction: column !important;
            justify-content: space-evenly !important;
            align-items: center !important;
            width: 100vw !important;
            height: 70vh !important;
            background-color: #000000ae !important;
            padding-bottom: 6.1rem !important;
        }
        
        .logo{
            height: 7em;
            width: 7.5em;
            align-self: flex-start !important;
            position: relative;
        }

        .volt{
            font-family: 'Grenze2' !important;
            font-size: 1.3em !important;
            text-decoration: none !important;
            color: #AEABAB !important;
        }

        @media(max-width: 1280px){
            .faixa3{
                background-color: #010915;
                height: 12vh !important;
                
            }


            .faixa1{

                display: flex !important;
                flex-direction: row !important;
                background-color: #010915 !important;
                height: 12vh !important;
                color: #ffff !important;
                justify-content: space-around !important;
                align-items: center !important;
        
                
            }
            .logo{
                height: 10em;
                width: 10.5em;
                align-self: flex-start !important;
                
            }
            .volt{
                font-family: 'Grenze2' !important;
                font-size: 1.9em !important;
                text-decoration: none !important;
                color: #AEABAB !important;
            }
        }


        @media(max-width: 480px){
            .faixa3{
                background-color: #010915;
                height: 12vh !important;
                
            }


            .faixa1{

                display: flex !important;
                flex-direction: row !important;
                background-color: #010915 !important;
                height: 12vh !important;
                color: #ffff !important;
                justify-content: space-around !important;
                align-items: center !important;
        
                
            }
            .logo{
                height: 9em;
                width: 9.5em;
                align-self: flex-start !important;
                
            }
            .volt{
                font-family: 'Grenze2' !important;
                font-size: 1.6em !important;
                text-decoration: none !important;
                color: #AEABAB !important;
            }
        }




        @media(max-width: 1000px){
            .faixa3{
                background-color: #010915;
                height: 12vh !important;
                
            }


            .faixa1{

                display: flex !important;
                flex-direction: row !important;
                background-color: #010915 !important;
                height: 12vh !important;
                color: #ffff !important;
                justify-content: space-around !important;
                align-items: center !important;
        
                
            }
            .logo{
                height: 9em;
                width: 9.5em;
                align-self: flex-start !important;
                
            }
            .volt{
                font-family: 'Grenze2' !important;
                font-size: 1.6em !important;
                text-decoration: none !important;
                color: #AEABAB !important;
            }
        }


        
        @media(max-width: 360px){
            .faixa3{
                background-color: #010915;
                height: 16vh !important;
                
            }


            .faixa1{

                display: flex !important;
                flex-direction: row !important;
                background-color: #010915 !important;
                height: 13vh !important;
                color: #ffff !important;
                justify-content: space-around !important;
                align-items: center !important;
        
                
            }
            .logo{
                height: 7em;
                width: 7.5em;
                align-self: flex-start !important;
                position: relative !important;

                
            }
            .volt{
                font-family: 'Grenze2' !important;
                font-size: 1.6em !important;
                text-decoration: none !important;
                color: #AEABAB !important;
            }
            .faixa2{
                height: 70vh !important;
                width: 100vw !important;
                display: flex !important;
                flex-direction: column !important;
                align-items: center !important;
                justify-content: space-evenly !important;
            }

            .adm{
                font-size: 2em;
                color: #ffff;
                font-family: "Grenze2";
                text-align: center;
                letter-spacing: 1px;
                width: 10em;
                height: 3em;
                margin-bottom: 1rem;
            }
                
        }


    } 
    
    
    @media(max-width: 1280px){
        .bodyt{
            background-image: url('../../assets/images/login.jpg');
            background-size: 120%;
            background-repeat: no-repeat;
            background-position: 50%;
        }
    }

    @media(max-width: 1000px){
        .bodyt{
            background-image: url('../../assets/images/login.jpg');
            background-size: 140%;
            background-repeat: no-repeat;
            background-position: 50% 50%;
        }
    }


    @media(max-width: 480px){
        .bodyt{
            background-image: url('../../assets/images/login.jpg');
            background-size: 300%;
            background-repeat: no-repeat;
            background-position: 50% 50%;
        }
    }


  